/* p{
    color: red;
}
a{
    color: yellow;

}
li{
    list-style-type: none;
} */

/* .special{
    color:red;
     font-weight: bold;
}
a{
    color: yellow;
}
p{
    color: navy;
} */
/* span.special,
li.special{
    color: red;
    font-weight: initial;
} */
/* a:hover{
    color:yellow;
    text-decoration: none;
} */
/* body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 10px;
} */

/* id selectors */
/* #heading{
    color:red;
    background-color: yellow;
} */
/* p#one{
    color: pink;
    background-color: yellow;
    padding: 50px;
} */
/* li[class~="a"]
{
    color: purple;
    background-color: navy;
} */
/* to remove the dots in front of the word */
/* *{
    list-style-type: none;
} */
/* nav a{
    text-decoration: none;
    color:purples;
    /* background-color: black; 
    text-align: center;
    padding: 20px;
} */
